.toogle-segment {
    text-align: right;
    padding: 10px;
    background-color: #b1b1b1;
}

.pitch-wrapper {



    .pitch-img {
        width: 100%;
    }

    .lineup {
        padding: 20px;
        padding-top: 70px;
        height: 430px;
        background-image: url(/../assets/pitchblack2.png);
        background-size: cover;
        background-position: center;

        &-row {
            margin-top: 18px;
        }

        .goalkeeper,
        .defenders,
        .center,
        .midfielders,
        .attacker {
            display: flex;
            justify-content: space-around;
        }

        .defenders {
            padding-left: 14px;
            padding-right: 14px;
        }

        .center {
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    .bench {
        padding: 16px;

        .full-width {
            width: 100%;
            padding-left: 10px;
        }

        h4 {
            color: grey;
            margin-bottom: 8px;
        }

        &-players {
            float: left;
            width: 80%;
        }

        &-player {
            display: flex;
            width: 50%;
            float: left;
            color: white;
            padding-bottom: 8px;

            &-red-card {
                background-color: #d32626;
                height: 14px;
                width: 10px;
                position: absolute;
                margin-left: -5px;
                margin-top: -4px;
            }

            &-mvp {
                position: absolute;
                margin-left: -12px;
                margin-top: 9px;
                font-size: 18px;
                color: #ffc800;
            }

            &-goals {
                margin-top: 4px;
                margin-left: 4px;
                color: #efefef;
                font-weight: 500;
                display: flex;
                justify-content: start;

                &-text {
                    margin-left: 2px;
                    font: 13px;
                }

                img {
                    height: 16px;
                    border-radius: 12px;
                }
            }

            &-assists {
                margin-top: 4px;
                margin-left: 4px;
                color: #efefef;
                font-weight: 500;
                display: flex;
                justify-content: start;

                &-text {
                    margin-left: 2px;
                    font: 13px;
                }

                img {
                    height: 16px;
                    border-radius: 12px;
                }
            }

            &-text {
                display: flex;
                align-items: center;
                font-size: 12px;
            }

            &-img {
                height: 25px;
                border-radius: 25px;
            }

            &-number {
                font-weight: 500;
                margin-right: 5px;
                margin-left: 5px;
                color: grey;
            }
        }

        .dt {
            width: 20%;
            float: left;
            color: white;

            &-text {
                font-size: 12px;
            }

            &-img {
                height: 35px;
                border-radius: 35px;
            }
        }
    }

    .side-bench {
        padding: 14px;
        padding-top: 8px;
        padding-right: 0px;
        background-color: #3f4c56;

        .cambios {
            font-size: 11px;
            color: #bbbbbb;
            margin-bottom: 6px;
        }

        .full-width {
            width: 100%;
            height: 392px;
        }

        h4 {
            color: #bbbbbb;
            margin-bottom: 8px;
        }

        p {
            color: #bbbbbb;
            margin-bottom: 8px;
        }

        &-players {
            float: left;
            width: 80%;
        }

        &-player {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            float: left;
            color: white;
            padding-bottom: 6px;

            &-red-card {
                background-color: #d32626;
                height: 14px;
                width: 10px;
                position: absolute;
                margin-left: -5px;
                margin-top: -4px;
            }

            &-mvp {
                position: absolute;
                margin-left: -12px;
                margin-top: 9px;
                font-size: 18px;
                color: #ffc800;
            }

            &-goals {
                margin-left: 4px;
                color: #efefef;
                font-weight: 500;
                display: flex;
                justify-content: start;
                align-items: center;

                &-text {
                    margin-left: 2px;
                    font-size: 10px;
                    height: 18px;
                }

                img {
                    height: 12px;
                    border-radius: 12px;
                }
            }

            &-assists {
                margin-left: 4px;
                color: #efefef;
                font-weight: 500;
                display: flex;
                justify-content: start;
                align-items: center;

                &-text {
                    margin-left: 4px;
                    font-size: 10px;
                    height: 18px;
                }

                img {
                    height: 12px;
                    border-radius: 12px;
                }
            }

            &-text {
                display: flex;
                align-items: center;
                font-size: 12px;
                width: 100%;
            }

            &-img {
                height: 20px;
                border-radius: 25px;
            }

            &-number {
                font-weight: 500;
                margin-right: 5px;

                color: grey;
            }

            &-name {
                font-size: 12px;
            }
        }

        .dt {
            width: 100%;
            float: left;
            color: white;

            &-content {
                text-align: center;
                margin-left: -10px;
            }

            h4 {
                position: absolute;
                font-size: 12px;
                margin-top: -4px;
            }

            &-text {
                font-size: 11px;
                line-height: 14px;
            }

            &-img {
                height: 25px;
                border-radius: 35px;
            }
        }
    }

}

.small-mode {
    display: flex;

    .pitch-img {
        width: 70%;
    }

    .lineup {
        background-image: url(/../assets/pitchblue2.png);
        width: calc(73% - 40px);
        height: 470px;
        padding: 22px;
        padding-bottom: 0px;
        padding-top: 0px;

        .attacker {
            margin-top: 90px !important;
        }

        .center {
            padding-left: 40px;
            padding-right: 40px;
        }

        .lineup-row {
            margin-top: 20px;
        }
    }
}


.pitch-field {
    .container {
        width: 850px;
        height: 550px;
        margin: 50px auto;
        // #061826
        background-color: #09273e;
        position: relative;

        .line {
            width: 850px;
            height: 550px;
            // #14324a
            border: 3px solid #28455c;
            position: absolute;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;

            &::before {
                bottom: -6px;
                content: "";
                left: -9px;
                position: absolute;
                right: -6px;
                top: -9px;
            }
        }

        .half {
            width: 425px;
            height: 550px;
            position: absolute;
            top: 0px;
            border-right-color: #28455c;
            border-right-style: solid;
            border-right-width: 4px;
            left: 0px;
            z-index: 200;
        }

        .panelty {
            width: 110px;
            height: 220px;
            border: 3px solid #28455c;
            position: absolute;
            z-index: 220;
            background-color: #09273e;

            &.left {
                left: 3px;
                top: 150px;
                border-left-color: transparent;
                border-left-width: 0px;

                &::after {
                    border: 3px solid #28455c;
                    border-left-color: transparent;
                    border-left-width: 0px;
                    bottom: 45px;
                    content: "";
                    left: 0px;
                    position: absolute;
                    right: 55px;
                    top: 45px;
                }
            }

            &.right {
                right: -3px;
                top: 150px;
                border-right-color: transparent;
                border-right-width: 0px;

                &::after {
                    border: 3px solid #28455c;
                    border-right-color: transparent;
                    border-right-width: 0px;
                    bottom: 45px;
                    content: "";
                    left: 55px;
                    position: absolute;
                    right: 0px;
                    top: 45px;
                }
            }
        }

        .p-spot {
            &.left {
                &:after {
                    content: "\2022";
                    position: absolute;
                    color: #28455c;
                    font-size: 35px;
                    top: 253px;
                    left: 80px;
                    z-index: 300;
                }
            }

            &.right {
                &:after {
                    content: "\2022";
                    position: absolute;
                    color: #28455c;
                    font-size: 35px;
                    top: 253px;
                    right: 80px;
                    z-index: 300;
                }
            }
        }

        .center {
            position: absolute;
            width: 130px;
            height: 130px;
            border: 3px solid #28455c;
            left: 359px;
            top: 193px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;

            &::after {
                background-color: #28455c;
                border: 5px solid #28455c;
                bottom: 55px;
                content: "";
                left: 55px;
                position: absolute;
                right: 55px;
                top: 55px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
            }
        }

        .p-place {
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            height: 130px;
            position: absolute;
            width: 150px;
            z-index: 210;
            border: 3px solid transparent;

            &.left {
                border-bottom-color: #28455c;
                border-right-color: #28455c;
                border-top-color: #28455c;
                left: 0;
                top: 193px;
            }

            &.right {
                border-bottom-color: #28455c;
                border-left-color: #28455c;
                border-top-color: #28455c;
                right: 0px;
                top: 193px;
            }
        }
    }


}