.pitch-wrapper {
    .pitch-img {
        width: 100%;
    }

    .lineup {
        padding: 20px;
        margin-top: -510px;

        &-row {
            margin-top: 23px;
        }

        .goalkeeper,
        .defenders,
        .center,
        .midfielders,
        .attacker {
            display: flex;
            justify-content: space-around;
        }

        .center {
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    .bench {
        margin-top: 9px;
        padding: 16px;

        h4 {
            color: grey;
            margin-bottom: 8px;
        }

        &-players {
            float: left;
            width: 80%;
        }

        &-player {
            display: flex;
            width: 50%;
            float: left;
            color: white;
            padding-bottom: 8px;

            &-text {
                display: flex;
                align-items: center;
                font-size: 12px;
            }

            &-img {
                height: 25px;
                border-radius: 25px;
            }

            &-number {
                font-weight: 500;
                margin-right: 5px;
                margin-left: 5px;
                color: grey;
            }
        }

        .dt {
            width: 20%;
            float: left;
            color: white;

            &-text {
                font-size: 12px;
            }

            &-img {
                height: 35px;
                border-radius: 35px;
            }
        }
    }
}