<div class="lineup-wrapper" cdkDropListGroup>
  <div class="player-container">
    <div class="player-container-header">
      <h3>Banca</h3>
      <mat-icon class="refresh-icon" (click)="refresh()" fontIcon="refresh"></mat-icon>
    </div>

    <div class="player-container-body">
      <h4 *ngIf="checkPosition('DEF')">Goalkeeper / Defenders</h4>
      <div class="players">
        <lineup-player class="player" *ngFor="let player of bench | filterByPosition:'DEF'" [data]="player"
          [allowDelete]="lineUp.length > 10" (playerSelected)="playerSelected($event)"
          (removePlayer)="removeFromBench($event)"></lineup-player>
      </div>

      <h4 *ngIf="checkPosition('MED')">Midfielders</h4>
      <div class="players">
        <lineup-player class="player" *ngFor="let player of bench | filterByPosition:'MED'" [data]="player"
          [allowDelete]="lineUp.length > 10" (playerSelected)="playerSelected($event)"
          (removePlayer)="removeFromBench($event)"></lineup-player>
      </div>

      <h4 *ngIf="checkPosition('DEL')">Attackers</h4>
      <div class="players">
        <lineup-player class="player" *ngFor="let player of bench | filterByPosition:'DEL'" [data]="player"
          [allowDelete]="lineUp.length > 10" (playerSelected)="playerSelected($event)"
          (removePlayer)="removeFromBench($event)"></lineup-player>
      </div>
    </div>
  </div>

  <div class="lineup-container">
    <div class="lineup-container-title">Once y capitán</div>
    <div class="positions">
      <div class="position">POR</div>
      <div class="position">LD</div>
      <div class="position">DFC</div>
      <div class="position">DFC</div>
      <div class="position">LI</div>
      <div class="position">MCD</div>
      <div class="position">MC</div>
      <div class="position">MD</div>
      <div class="position">MI</div>
      <div class="position">MP</div>
      <div class="position">DC</div>
    </div>

    <div cdkDropList [cdkDropListData]="lineUp" class="lineup-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of lineUp" (click)="selectCaptain(item)" cdkDrag>
        <img class="lineup-list-img" [src]="item.photo">
        <div class="lineup-list-name">{{item.nickName || item.lastName}}</div>
        <div class="lineup-list-captain" *ngIf="item.captain">C</div>
        <mat-icon (click)="removeFromLineup(item)" fontIcon="close"></mat-icon>
      </div>
    </div>
    <div class="flex">
      <button class="done-button" color="primary" [disabled]="lineUp.length < 11 || !captainExist(lineUp)"
        (click)="goToLineup()" mat-raised-button>
        <!-- <mat-icon fontIcon="people">people</mat-icon> -->
        ONCE</button>
      <button class="done-button" color="primary" [disabled]="lineUp.length < 11 || !captainExist(lineUp)"
        (click)="goToHighlights()" mat-raised-button>
        <!-- <mat-icon fontIcon="poll">poll</mat-icon> -->
        RESUMEN</button>
    </div>

  </div>
</div>