<div class="lineup-wrapper" cdkDropListGroup>
  <div class="player-container">
    <div class="player-container-header">
      <h3>Banca</h3>
      <mat-icon class="refresh-icon" (click)="refresh()" fontIcon="refresh"></mat-icon>
    </div>

    <div class="player-container-body">
      <h4 *ngIf="goalkeepers.length > 0">Goalkeepers</h4>
      <div class="player" *ngFor="let item of goalkeepers">
        <div class="player-name" (click)="playerSelected(item)">{{item.firstName}} {{item.lastName}}</div>
        <mat-icon (click)="removeFromBench(item)" fontIcon="close"></mat-icon>
      </div>

      <h4 *ngIf="defenses.length > 0">Defenses</h4>
      <div class="player" *ngFor="let item of defenses">
        <div class="player-name" (click)="playerSelected(item)">{{item.firstName}} {{item.lastName}}</div>
        <mat-icon (click)="removeFromBench(item)" fontIcon="close"></mat-icon>
      </div>

      <h4 *ngIf="midfielders.length > 0">Midfielders</h4>
      <div class="player" *ngFor="let item of midfielders">
        <div class="player-name" (click)="playerSelected(item)">{{item.firstName}} {{item.lastName}}</div>
        <mat-icon (click)="removeFromBench(item)" fontIcon="close"></mat-icon>
      </div>

      <h4 *ngIf="attackers.length > 0">Attackers</h4>
      <div class="player" *ngFor="let item of attackers">
        <div class="player-name" (click)="playerSelected(item)">{{item.firstName}} {{item.lastName}}</div>
        <mat-icon (click)="removeFromBench(item)" fontIcon="close"></mat-icon>
      </div>
    </div>
    <!-- <div class="player-container-footer">
      <button class="player-container-footer-button" (click)="toConvocatoria()" mat-raised-button>
        <mat-icon fontIcon="list">list</mat-icon>
        CONVOCATORIA</button>
    </div> -->


  </div>

  <div class="lineup-container">
    <div class="positions">
      <div class="position">POR</div>
      <div class="position">LD</div>
      <div class="position">DFC</div>
      <div class="position">DFC</div>
      <div class="position">LI</div>
      <div class="position">MCD</div>
      <div class="position">MC</div>
      <div class="position">MD</div>
      <div class="position">MI</div>
      <div class="position">MP</div>
      <div class="position">DC</div>
    </div>

    <div cdkDropList [cdkDropListData]="lineUp" class="lineup-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of lineUp" cdkDrag>
        <div class="lineup-list-name">{{item.firstName}} {{item.lastName}}</div>
        <mat-icon (click)="removePlayer(item)" fontIcon="close"></mat-icon>
      </div>
    </div>
    <button class="done-button" color="primary" [routerLink]="['/pitch']" (click)="goToLineup()"
      [disabled]="lineUp.length < 11" mat-raised-button>
      <mat-icon fontIcon="people">people</mat-icon>
      ALINEACION</button>
    <button class="done-button" color="primary" [routerLink]="['/highlights']" (click)="goToHighlights()"
      [disabled]="lineUp.length < 11" mat-raised-button>
      <mat-icon fontIcon="poll">poll</mat-icon>
      HIGHLIGHTS</button>
  </div>
</div>
<!-- <img src="../../assets/pitch2.jpeg" alt=""> -->