<div class="highlights">
    <mat-tab-group>
        <mat-tab label="Goles">
            <div class="players-list">
                <h4>Titulares</h4>
                <div class="player" *ngFor="let player of lineUp">
                    <div class="player-name">{{player.firstName}} {{player.lastName}}</div>
                    <div class="player-amount">
                        <span *ngIf="player.goals">{{player.goals}}</span>
                    </div>
                    <div class="player-buttons">
                        <button mat-mini-fab color="primary" (click)="addGoal(player)">
                            <mat-icon>add</mat-icon>
                        </button>
                        <button mat-mini-fab color="accent" (click)="removeGoal(player)" [disabled]="!player.goals">
                            <mat-icon>remove</mat-icon>
                        </button>
                    </div>
                </div>
                <br>
                <h4>Banca</h4>
                <div class="player" *ngFor="let player of bench">
                    <div class="player-name">{{player.firstName}} {{player.lastName}}</div>
                    <div class="player-amount">
                        <span *ngIf="player.goals">{{player.goals}}</span>
                    </div>
                    <div class="player-buttons">
                        <button mat-mini-fab color="primary" (click)="addGoal(player)">
                            <mat-icon>add</mat-icon>
                        </button>
                        <button mat-mini-fab color="accent" (click)="removeGoal(player)" [disabled]="!player.goals">
                            <mat-icon>remove</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Asistencias">Asistencias</mat-tab>
        <mat-tab label="Rojas">Rojas</mat-tab>
    </mat-tab-group>

</div>