.highlights {

    background-color: #33383c;

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        background-color: #585858;

        .mvp {
            height: 56px;
        }
    }

    ::ng-deep mat-tab-header {
        background-color: #585858;
    }

    .players-list {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        overflow-y: auto;
        height: 85vh;

        h4 {
            color: grey;
            margin-bottom: 8px;
        }
    }

    .player {
        display: flex;
        align-items: center;
        color: white;
        margin-bottom: 14px;

        &-name {
            width: 60%;
            font-size: 16px;
        }

        &-amount {
            color: grey;
            width: 10%;
            font-size: 18px;
        }

        &-buttons {
            width: 30%;

            button {
                margin-right: 10px;
            }
        }
    }

    .red-cards-list {
        .player-name {
            width: 75%;
        }

        .player-buttons {
            width: 15%;
        }
    }
}