<div class="lineup-wrapper" cdkDropListGroup>
  <div class="player-container">
    <h2>Players</h2>

    <h4 *ngIf="goalkeepers.length > 0">Goalkeepers</h4>
    <div class="player" *ngFor="let item of goalkeepers" (click)="playerSelected(item)">{{item.name}}</div>

    <h4 *ngIf="defenses.length > 0">Defenses</h4>
    <div class="player" *ngFor="let item of defenses" (click)="playerSelected(item)">{{item.name}}</div>

    <h4 *ngIf="midfielders.length > 0">Midfielders</h4>
    <div class="player" *ngFor="let item of midfielders" (click)="playerSelected(item)">{{item.name}}</div>

    <h4 *ngIf="attackers.length > 0">Attackers</h4>
    <div class="player" *ngFor="let item of attackers" (click)="playerSelected(item)">{{item.name}}</div>

  </div>

  <div class="lineup-container">
    <div class="positions">
      <div class="position">POR</div>
      <div class="position">LD</div>
      <div class="position">DFC</div>
      <div class="position">DFC</div>
      <div class="position">LI</div>
      <div class="position">MCD</div>
      <div class="position">MC</div>
      <div class="position">MD</div>
      <div class="position">MI</div>
      <div class="position">MP</div>
      <div class="position">DC</div>
    </div>

    <div cdkDropList [cdkDropListData]="lineUp" class="lineup-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of lineUp" cdkDrag>
        <div class="lineup-list-name">{{item.name}}</div>
        <mat-icon (click)="removePlayer(item)" aria-hidden="false" aria-label="Example home icon"
          fontIcon="close"></mat-icon>
      </div>
    </div>
    <button class="done-button" mat-raised-button>DONE</button>
  </div>
</div>
<!-- <img src="../../assets/pitch2.jpeg" alt=""> -->