.player {
    text-align: center;
    width: 80px;
    font-size: 13px;

    &-red-card {
        background-color: #d32626;
        height: 14px;
        width: 10px;
        position: absolute;
        margin-left: 14px;
    }

    &-mvp {
        position: absolute;
        margin-left: -14px;
        margin-top: 20px;
        color: #ffc800;
    }

    &-goals {
        position: absolute;
        margin-left: 55px;
        margin-top: -10px;
        color: #efefef;
        font-weight: 500;
        display: flex;
        justify-content: start;
        width: 26px;

        &-text {
            margin-left: 4px;
            text-shadow: 1px 1px 2px black;
        }

        img {
            box-shadow: 1px 1px 2px 2px #242424;
            height: 16px;
            border-radius: 12px;
            box-shadow: 1px 1px 2px 2px #242424;
        }
    }

    &-assists {
        position: absolute;
        margin-left: 55px;
        margin-top: 10px;
        color: #efefef;
        font-weight: 500;
        display: flex;
        justify-content: start;
        width: 26px;

        &-text {
            margin-left: 4px;
            text-shadow: 1px 1px 2px black;
        }

        img {
            box-shadow: 1px 1px 2px 2px #242424;
            height: 16px;
            border-radius: 12px;
            box-shadow: 1px 1px 2px 2px #242424;
        }
    }

    &-img {
        height: 40px;
        border-radius: 40px;
    }

    &-captain {
        width: 18px;
        height: 18px;
        background-color: #b50c0c;
        border-radius: 40px;
        font-weight: 800;
        color: white;
        margin-top: -18px;
        margin-left: 56px;
    }

    &-text {
        display: flex;
        color: white;
        text-shadow: 1px 1px 2px black;
        justify-content: center;
    }

    &-name {
        color: white;
        font-weight: 100;
        white-space: nowrap;
    }

    &-number {
        font-weight: 500;
        margin-right: 5px;
        color: #b9b9b9;
    }
}

.small-mode {
    .player {
        width: 60px;

        &-red-card {
            margin-left: 8px;
        }

        &-mvp {
            position: absolute;
            margin-left: -7px;
            margin-top: 17px;
            width: 14px;
            height: 14px;
            font-size: 14px;
            color: #ffc800;
        }

        &-assists {
            margin-left: 42px;

            &-text {
                font-size: 11px;
            }

            img {
                height: 12px;
            }
        }

        &-goals {
            margin-left: 42px;
            margin-top: -5px;

            &-text {
                font-size: 11px;
            }

            img {
                height: 12px;
            }
        }

        &-name {
            font-size: 12px;
        }

        &-number {
            font-size: 12px;
        }

        &-img {
            width: 25px;
            height: 25px;
        }
    }
}