.player {
    text-align: center;
    width: 80px;
    font-size: 13px;

    &-img {
        height: 40px;
        border-radius: 40px;
    }

    &-captain {
        width: 18px;
        height: 18px;
        background-color: #b50c0c;
        border-radius: 40px;
        font-weight: 800;
        color: white;
        margin-top: -18px;
        margin-left: 56px;
    }

    &-text {
        display: flex;
        color: white;
        text-shadow: 1px 1px 2px black;
        justify-content: center;
    }

    &-name {
        color: white;
        font-weight: 100;
        white-space: nowrap;
    }

    &-number {
        font-weight: 500;
        margin-right: 5px;
    }
}